.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 8%;
  padding-right: 8%;
  margin: 2px;
}
