.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 11%;
  padding-right: 8%;
  margin: 2px;
}

@media (max-width: 768px) {
  #actionsHeader {
    visibility: hidden;
  }
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  color: #a6a6a6;
  position: relative;
  float: right;
}
