.pickupContainer {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.pickupContact,
.pickup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
