@media only screen and (min-width: 1024px) {
  .shipmentsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .shipmentsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .shipmentsRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.shipmentsRow {
  background-color: #ffffff;
  margin: 2px;
  padding: 30px 10px 0 30px;
  cursor: pointer;
}

.title {
  color: #a6a6a6;
}

.inline {
  display: inline-block;
}
